<html>
  <head></head>
  <body>
    <p>
      Guess a number between 0 and 100!<br><br>
      <%= message %>
      <!-- The SECRET NUMBER is <%= number %> -->
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>